
emulator {
	margin:0 auto;
	background-color: tan;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
	padding-bottom: 1rem;
	border: 5px outset sandybrown;
  display: grid;
	max-width: fit-content;
  width: 100%;
  grid-template: "titlearea" auto
	               "terminal" auto
                 "buttons" auto
                 "textbox" auto
								 "status" auto / auto;

}


h1 {
  grid-area: titlearea;	
	text-align: center;
	color: lightyellow;
}

terminal {
  grid-area: terminal;
	border: 5px inset sandybrown;
}

buttongroup {
	grid-area: buttons;
	display: grid;
	grid-auto-flow: column dense;
}

buttongroup button {
	border: 2px outset lightgray;
	height: 2.1rem;
	line-height: 2.0rem;
	vertical-align: middle;
  font-size: 1rem;
}
buttongroup button#width40.width40 {
	padding-right: 1.75rem;
}

buttongroup button#width40.width80::after {
	content: '✔️';
}

textbox {
	border: 5px inset sandybrown;
	grid-area: textbox;
}

textbox textarea {
  resize: none;
  font-size: 1rem;
  width: 100%;
  height: 24rem;
  font-size: 1rem;
  background-color: #000;
  color: #0D0;
}

textbox textarea,
textbox.width40 textarea {
	font-family: Printchar21;
}

textbox.width80 textarea {
	font-family: PRNumber3;
}

info {
	grid-area: status;
}