<emulator>
  <h1>webApple1</h1>
  <terminal #terminal></terminal>
  <buttongroup>
  <button (click)="onResetCpu($event)">Reset</button>
  <button (click)="onNonMaskableInterrupt($event)">NMI</button>
  <button (click)="onIntBASIC($event)">Integer BASIC</button>
  <button (click)="onMSBASIC($event)">MS BASIC</button>
  <button (click)="onKRUSADER($event)">Krusader</button>
  <button id="width40" (click)="onToggleWidth40($event)">40 Cols {{checked}}</button>
  <button id="load" (click)="onLoadFromTextarea($event, loadText.value)">Load</button>
  </buttongroup>
  <textbox>
  <textarea #loadText>{{exampleBas}}</textarea>
  </textbox>
  <info>{{fps}}</info>
</emulator>

<div>More info<br />
<a href="https://github/rhoem/webApple1" target="_blank">Source Repository</a><br />
<a href="http://school.anhb.uwa.edu.au/personalpages/kwessen/apple1/Krusader.htm" target="_blank">Krusader documentation</a><br />
<a href="http://www.pagetable.com/?p=46" target="_blank">Microsoft 6502 Basic</a><br />
<a href="http://github.com/jefftranter/6502/tree/master/asm/a1basic" target="_blank">Integer Basic (Woz)</a><br />
<a href="https://github.com/jefftranter/6502/tree/master/asm/wozmon" target="_blank">Woz Monitor</a><br />
</div>
